.container_footer{
    margin-top: 125px;
    background-color: #001822 ;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 1.5vmin);
    color : white;
}