.container_footer{
    margin-top: 180px;
    background-color: #1d1d1e ;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 0.8vmin);
    color : white;
}