.container_error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #001822;
    height: calc(0px + 100vmin);
}

.container_error img{
   height: 48vmin;
}