/**
* couleur :
* #001822 : background
code couleur:
#0098da (bleu)
#a8cf45 (vert)
#001822 (black)
#e6e6e8 (gris)
*/

.Home {
    text-align: center;
  }

  /*Landing page section*/
.Home .landing{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 580px;
  background: url("../../assets/images/background_landing.jpg") no-repeat fixed center bottom;
  background-size: cover;
  /* background-color: red; */
}

.landing .content_landing{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing .content_landing .button_utils button{
    margin: 10px 16px;
}


/*section page*/
.section .brand_one{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section .brand_one .illustration{
  position: relative;
}

.image_brand_one{
  height: 38vh;
  width: 20vw;
  border-radius: 32px;
}

.illustration .background_ph{
  position: absolute;
  height: 44vh;
  width: 19vw;
}
.illustration .disque_ph{
  position: absolute;
  height: 46vh;
  width: 22vw;
  z-index: 2;
  /* top: 16px;
  left: -402px; */
}
.illustration .album_ph{
  position: absolute;
  height: 38vh;
  width: 19vw;
  z-index: 3;
  /* top: -30px;
  left: -800px; */
  transform: rotate(-16deg);
}
