/**
* couleur :
* #001822 : background
code couleur:
#0098da (bleu)
#a8cf45 (vert)
#001822 (black)
#e6e6e8 (gris)
*/

.Home {
    text-align: center;
    min-height: 800px;
  }

.Home .landing{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 580px;
  background: url("../../assets/images/background_landing.jpg") no-repeat fixed center bottom;
  background-size: cover;
  /* background-color: red; */
}

.landing .content_landing{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.landing .content_landing .button_utils button{
    margin: 10px 16px;
}

  